h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--color-success);
}

.invalid {
    outline: 1px solid var(--color-primary);
}

.validation-message {
    color: var(--color-primary);
}

.blazor-error-boundary {
    background: var(--color-primary);
    padding: 1rem;
    color: var(--color-canvas);
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
